<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

  
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    
    <div class="container">

      <header id="header" class="row" data-hook>
      
        <div id="header-left">
          <%= render_snippet('header_left_side') %>
        </div>

        <nav id="top-nav-bar" class="columns omega ten">
          <ul id="nav-bar" class="inline" data-hook>
            <% Spree::Page.header_links.each do |page| %>
              <%= "<li>#{link_to page.title, page.slug}</li>".html_safe %>
            <% end %>
            <%= render :partial => 'spree/shared/nav_bar' %>
            <%= render :partial => 'spree/shared/store_menu' if store_menu? %>
          </ul>
        </nav>
        
      </header>

      <div id="wrapper" class="row" data-hook>
        
        <% if content_for?(:sidebar) %>
          <aside id="sidebar" class="columns alpha four" data-hook>
            <%= render_snippet('sidebar_top') %>
            <%= yield :sidebar %>
            <%= render_snippet('sidebar_bottom') %>
          </aside>
        <% end %>

        <div id="content" class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" data-hook>
          <%= breadcrumbs(@taxon) %>
          <%= flash_messages %>
          <%= render_snippet 'homepage_above_products' if on_root? %>
          <%= yield %>
          <div id="homepage-bottom-snippet">
            <%= render_snippet 'homepage_below_products' if on_root?  %>
          </div>
        </div>

      </div>

      <footer id="footer" data-hook>
        <div id="footer-left" class="columns alpha eight" data-hook>
          <ul>
            <li><a href="http://sisbro.com">Sisbro.com</a></li>
            <% Spree::Page.header_links.each do |page| %>
              <%= "<li>#{link_to page.title, page.slug}</li>".html_safe %>
            <% end %>
            <li><%= link_to "Sitemap", "/sitemap" %></li>
          </ul>
        </div>
        <div id="footer-right" class="columns omega eight" data-hook><%= render_snippet 'footer_right' %></div>
      </footer>
    </div>  
    
    <center><%= logo %></center>

    <%= render :partial => 'spree/shared/google_analytics' %>

  </body>

</html>